<div class="flex items-center justify-between">
  <a class="flex items-center gap-1.5 font-semibold text-sm leading-5 cursor-pointer text-[#64748B]">
    <i class="ph ph-arrow-left text-xl"></i>
    Voltar
  </a>

  <app-secondary-button label="Download"/>
</div>

<div class="certificate flex items-center justify-center w-200 h-137.5 mt-8 rounded-xl relative">
  <img class="absolute top-3 left-3" src="certificate/certif-logo.svg" alt="">
  <div class="w-180 h-[470px] rounded-lg pt-16 pb-10 px-10 bg-white"></div>
</div>
