<nav class="navbar w-full bg-white py-4 px-8 border-1 border-gray-300">
  <div class="flex items-center justify-between">
    <a class="nav-logo">
      <img class="w-8" src="navbar/logo.svg" alt="Logotipo">
    </a>

    <div>
      <ul class="flex gap-6">
        <li class="flex items-center gap-1.5 text-[#3B5AC2]">
          <i class="ph ph-medal"></i>
          <a class="font-semibold cursor-pointer">Lista de Certificados</a>
        </li>
        <li class="flex items-center gap-1.5">
          <i class="ph ph-circles-three-plus"></i>
          <a class="font-semibold cursor-pointer">Gerar Certificado</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
